@keyframes hovering {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(54px);
    }
}

.snippet {
    width: 90%;
    border-style: solid;
    border-color: #F07167;
}

.about-panel-wrapper {
    margin-bottom: 54px;
}

#Panel-hover{
    position: relative;
    animation-name: hovering;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}

#caption{
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 1024px) {
    @keyframes hovering {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(40px);
        }
    }
    
    .about-panel-wrapper {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    @keyframes hovering {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(30px);
        }
    }
    
    #Panel-hover {
        width: 95%;
    }
    
    .about-panel-wrapper {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 480px) {
    @keyframes hovering {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(20px);
        }
    }
    
    #caption {
        font-size: 18px;
    }
    
    .about-panel-wrapper {
        margin-bottom: 20px;
    }
}